.main{
    color:rgb(13, 14, 15);
    border:2px solid rgb(191, 191, 201);
    width:100vw;
    height: 8vh;
    margin-top: 2px;
    position:relative;
    
    
    background-color: rgb(154, 146, 146);
    display:grid;
    grid-template-columns:repeat(3,1fr);
    box-shadow: 5px 10px 8px gray;
    /* grid-template-rows: 50px;  */
}

Link{
    font-weight: bolder;
    font-size: medium;
}

.mainsidenav{

margin-top:0px;
position:absolute;
margin-bottom: 2px;

}

.main1{
    text-decoration: none;
    display:inline;
    display:grid;
    margin-top: 20px;
    grid-template-columns:repeat(5,1fr) ;
    cursor:pointer;
    
    
}
body{
    background-color: rgb(19, 19, 97);
}
.main2{
    display:grid;
    margin-top: 15px;
    grid-template-columns:repeat(1,1fr) ;
    
    
}
.divsearch{
    margin-left: 100px;
}


.hiddenicon {
    display:none;
    
}

.mainbody{
   
    display: flex;
    align-items: center;
    justify-content: center;

}
.body1{
    border:2px solid green;
    background-color: white;
    width: 900px;
    height: 400px;
    box-shadow: 5px 10px 8px gray;
    margin-top: 150px;
}

.center1{
    color:black;
}

.mobile{
    text-decoration: none;
    display:block;
    width: 80vw;
    height: 50vh;
    margin-top:0px;
    margin-left: 100px;
    margin-right: 50px;
    top:50px;
    height:50vh;
    background-color: antiquewhite;
    font-size: medium;
   position:absolute;
    
}



@media(max-width: 1080px) {
    .main1{
        
        display:none;
        
    }

    .main2{
      
        margin-right: 0px;
        float:right;
        }

        .hiddenicon {
            display:inline;
            background-color: blue;
            border:2px solid green;
        }
  }